In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel(r"C:\DBDA\Python\Day9\Order_data.xlsx")
df

    order no  OrderDate   Region      cust     Item  Units  Unit Cost    Total
0         11 2019-01-06     East     Jones   Pencil     95       1.99   189.05
1         12 2019-01-23  Central    Kavita   Marker     50      19.99   999.50
2         13 2019-02-09  Central       Jai   Pencil     36       4.99   179.64
3         14 2019-02-26  Central   Gayatri      Pen     27      19.99   539.73
4         15 2019-03-15     West    Soniya   Pencil     56       2.99   167.44
5         16 2019-04-01     East     Jones   Marker     60       4.99   299.40
6         17 2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
7         18 2019-05-05  Central       Jai   Pencil     90       4.99   449.10
8         19 2019-05-22     West  Thompson   Pencil     32       1.99    63.68
9         20 2019-06-08     East     Jones   Marker     60       8.99   539.40
10        21 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
11        22 2019-07-12     East    Howard   Marker     29       1.99    57.71
12        23 2019-07-29     East     Priya   Marker     81      19.99  1619.19
13        24 2019-08-15     East     Jones   Pencil     35       4.99   174.65
14        25 2019-09-01  Central     Smita     Desk      2     125.00   250.00
15        26 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
16        27 2019-10-05  Central    Morgan   Marker     28       8.99   251.72
17        28 2019-10-22     East     Jones      Pen     64       8.99   575.36
18        29 2019-11-08     East     Priya      Pen     15      19.99   299.85
19        30 2019-11-25  Central    Kavita  Pen Set     96       4.99   479.04
20        31 2019-12-12  Central     Smita   Pencil     67       1.29    86.43
21        32 2019-12-29     East     Priya  Pen Set     74      15.99  1183.26
22        33 2020-01-15  Central   Gayatri   Marker     46       8.99   413.54
23        34 2020-02-01  Central     Smita   Marker     87      15.00  1305.00
24        35 2020-02-18     East     Jones   Marker      4       4.99    19.96
25        36 2020-03-07     West    Soniya   Marker      7      19.99   139.93
26        37 2020-03-24  Central       Jai  Pen Set     50       4.99   249.50
27        38 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
28        39 2020-04-27     East    Howard      Pen     96       4.99   479.04
29        40 2020-05-14  Central   Gayatri   Pencil     53       1.29    68.37
30        41 2020-05-31  Central   Gayatri   Marker     80       8.99   719.20
31        42 2020-06-17  Central    Kavita     Desk      5     125.00   625.00
32        43 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
33        44 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34        45 2020-08-07  Central    Kavita  Pen Set     42      23.95  1005.90
35        46 2020-08-24     West    Soniya     Desk      3     275.00   825.00
36        47 2020-09-10  Central   Gayatri   Pencil      7       1.29     9.03
37        48 2020-09-27     West    Soniya      Pen     76       1.99   151.24
38        49 2020-10-14     West  Thompson   Marker     57      19.99  1139.43
39        50 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
40        51 2020-11-17  Central       Jai   Marker     11       4.99    54.89
41        52 2020-12-04  Central       Jai   Marker     94      19.99  1879.06
42        53 2020-12-21  Central   Andrews   Marker     28       4.99   139.72

In [3]:
df.max()

order no                      53
OrderDate    2020-12-21 00:00:00
Region                      West
cust                    Thompson
Item                      Pencil
Units                         96
Unit Cost                  275.0
Total                    1879.06
dtype: object

In [4]:
df.min()

order no                      11
OrderDate    2019-01-06 00:00:00
Region                   Central
cust                     Andrews
Item                        Desk
Units                          2
Unit Cost                   1.29
Total                       9.03
dtype: object

In [5]:
df.corr() #imp

           order no     Units  Unit Cost     Total
order no   1.000000 -0.175004   0.170160  0.133853
Units     -0.175004  1.000000  -0.392016  0.408099
Unit Cost  0.170160 -0.392016   1.000000  0.209500
Total      0.133853  0.408099   0.209500  1.000000

In [6]:
df["Unit Cost"]

0       1.99
1      19.99
2       4.99
3      19.99
4       2.99
5       4.99
6       1.99
7       4.99
8       1.99
9       8.99
10      4.99
11      1.99
12     19.99
13      4.99
14    125.00
15     15.99
16      8.99
17      8.99
18     19.99
19      4.99
20      1.29
21     15.99
22      8.99
23     15.00
24      4.99
25     19.99
26      4.99
27      1.99
28      4.99
29      1.29
30      8.99
31    125.00
32      4.99
33     12.49
34     23.95
35    275.00
36      1.29
37      1.99
38     19.99
39      1.29
40      4.99
41     19.99
42      4.99
Name: Unit Cost, dtype: float64

In [7]:
df["Unit Cost"].astype(int) #change datatype float to int

0       1
1      19
2       4
3      19
4       2
5       4
6       1
7       4
8       1
9       8
10      4
11      1
12     19
13      4
14    125
15     15
16      8
17      8
18     19
19      4
20      1
21     15
22      8
23     15
24      4
25     19
26      4
27      1
28      4
29      1
30      8
31    125
32      4
33     12
34     23
35    275
36      1
37      1
38     19
39      1
40      4
41     19
42      4
Name: Unit Cost, dtype: int32

In [8]:
df

    order no  OrderDate   Region      cust     Item  Units  Unit Cost    Total
0         11 2019-01-06     East     Jones   Pencil     95       1.99   189.05
1         12 2019-01-23  Central    Kavita   Marker     50      19.99   999.50
2         13 2019-02-09  Central       Jai   Pencil     36       4.99   179.64
3         14 2019-02-26  Central   Gayatri      Pen     27      19.99   539.73
4         15 2019-03-15     West    Soniya   Pencil     56       2.99   167.44
5         16 2019-04-01     East     Jones   Marker     60       4.99   299.40
6         17 2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
7         18 2019-05-05  Central       Jai   Pencil     90       4.99   449.10
8         19 2019-05-22     West  Thompson   Pencil     32       1.99    63.68
9         20 2019-06-08     East     Jones   Marker     60       8.99   539.40
10        21 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
11        22 2019-07-12     East    Howard   Marker     29       1.99    57.71
12        23 2019-07-29     East     Priya   Marker     81      19.99  1619.19
13        24 2019-08-15     East     Jones   Pencil     35       4.99   174.65
14        25 2019-09-01  Central     Smita     Desk      2     125.00   250.00
15        26 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
16        27 2019-10-05  Central    Morgan   Marker     28       8.99   251.72
17        28 2019-10-22     East     Jones      Pen     64       8.99   575.36
18        29 2019-11-08     East     Priya      Pen     15      19.99   299.85
19        30 2019-11-25  Central    Kavita  Pen Set     96       4.99   479.04
20        31 2019-12-12  Central     Smita   Pencil     67       1.29    86.43
21        32 2019-12-29     East     Priya  Pen Set     74      15.99  1183.26
22        33 2020-01-15  Central   Gayatri   Marker     46       8.99   413.54
23        34 2020-02-01  Central     Smita   Marker     87      15.00  1305.00
24        35 2020-02-18     East     Jones   Marker      4       4.99    19.96
25        36 2020-03-07     West    Soniya   Marker      7      19.99   139.93
26        37 2020-03-24  Central       Jai  Pen Set     50       4.99   249.50
27        38 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
28        39 2020-04-27     East    Howard      Pen     96       4.99   479.04
29        40 2020-05-14  Central   Gayatri   Pencil     53       1.29    68.37
30        41 2020-05-31  Central   Gayatri   Marker     80       8.99   719.20
31        42 2020-06-17  Central    Kavita     Desk      5     125.00   625.00
32        43 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
33        44 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34        45 2020-08-07  Central    Kavita  Pen Set     42      23.95  1005.90
35        46 2020-08-24     West    Soniya     Desk      3     275.00   825.00
36        47 2020-09-10  Central   Gayatri   Pencil      7       1.29     9.03
37        48 2020-09-27     West    Soniya      Pen     76       1.99   151.24
38        49 2020-10-14     West  Thompson   Marker     57      19.99  1139.43
39        50 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
40        51 2020-11-17  Central       Jai   Marker     11       4.99    54.89
41        52 2020-12-04  Central       Jai   Marker     94      19.99  1879.06
42        53 2020-12-21  Central   Andrews   Marker     28       4.99   139.72

In [9]:
df.count()

order no     43
OrderDate    43
Region       43
cust         43
Item         43
Units        43
Unit Cost    43
Total        43
dtype: int64

In [10]:
df["cust"].value_counts()

Jones       8
Jai         5
Gayatri     5
Kavita      4
Soniya      4
Andrews     4
Morgan      3
Priya       3
Smita       3
Thompson    2
Howard      2
Name: cust, dtype: int64

In [11]:
df["cust"].value_counts().max() #return maximum record

8

In [12]:
df.sort_values("cust")

    order no  OrderDate   Region      cust     Item  Units  Unit Cost    Total
42        53 2020-12-21  Central   Andrews   Marker     28       4.99   139.72
27        38 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
39        50 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
6         17 2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
3         14 2019-02-26  Central   Gayatri      Pen     27      19.99   539.73
36        47 2020-09-10  Central   Gayatri   Pencil      7       1.29     9.03
22        33 2020-01-15  Central   Gayatri   Marker     46       8.99   413.54
30        41 2020-05-31  Central   Gayatri   Marker     80       8.99   719.20
29        40 2020-05-14  Central   Gayatri   Pencil     53       1.29    68.37
28        39 2020-04-27     East    Howard      Pen     96       4.99   479.04
11        22 2019-07-12     East    Howard   Marker     29       1.99    57.71
26        37 2020-03-24  Central       Jai  Pen Set     50       4.99   249.50
41        52 2020-12-04  Central       Jai   Marker     94      19.99  1879.06
2         13 2019-02-09  Central       Jai   Pencil     36       4.99   179.64
40        51 2020-11-17  Central       Jai   Marker     11       4.99    54.89
7         18 2019-05-05  Central       Jai   Pencil     90       4.99   449.10
24        35 2020-02-18     East     Jones   Marker      4       4.99    19.96
32        43 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
0         11 2019-01-06     East     Jones   Pencil     95       1.99   189.05
9         20 2019-06-08     East     Jones   Marker     60       8.99   539.40
17        28 2019-10-22     East     Jones      Pen     64       8.99   575.36
5         16 2019-04-01     East     Jones   Marker     60       4.99   299.40
15        26 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
13        24 2019-08-15     East     Jones   Pencil     35       4.99   174.65
1         12 2019-01-23  Central    Kavita   Marker     50      19.99   999.50
34        45 2020-08-07  Central    Kavita  Pen Set     42      23.95  1005.90
31        42 2020-06-17  Central    Kavita     Desk      5     125.00   625.00
19        30 2019-11-25  Central    Kavita  Pen Set     96       4.99   479.04
10        21 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
33        44 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
16        27 2019-10-05  Central    Morgan   Marker     28       8.99   251.72
12        23 2019-07-29     East     Priya   Marker     81      19.99  1619.19
18        29 2019-11-08     East     Priya      Pen     15      19.99   299.85
21        32 2019-12-29     East     Priya  Pen Set     74      15.99  1183.26
23        34 2020-02-01  Central     Smita   Marker     87      15.00  1305.00
20        31 2019-12-12  Central     Smita   Pencil     67       1.29    86.43
14        25 2019-09-01  Central     Smita     Desk      2     125.00   250.00
25        36 2020-03-07     West    Soniya   Marker      7      19.99   139.93
35        46 2020-08-24     West    Soniya     Desk      3     275.00   825.00
37        48 2020-09-27     West    Soniya      Pen     76       1.99   151.24
4         15 2019-03-15     West    Soniya   Pencil     56       2.99   167.44
8         19 2019-05-22     West  Thompson   Pencil     32       1.99    63.68
38        49 2020-10-14     West  Thompson   Marker     57      19.99  1139.43

In [13]:
df.sort_values("cust",ascending=False)

    order no  OrderDate   Region      cust     Item  Units  Unit Cost    Total
38        49 2020-10-14     West  Thompson   Marker     57      19.99  1139.43
8         19 2019-05-22     West  Thompson   Pencil     32       1.99    63.68
37        48 2020-09-27     West    Soniya      Pen     76       1.99   151.24
4         15 2019-03-15     West    Soniya   Pencil     56       2.99   167.44
35        46 2020-08-24     West    Soniya     Desk      3     275.00   825.00
25        36 2020-03-07     West    Soniya   Marker      7      19.99   139.93
20        31 2019-12-12  Central     Smita   Pencil     67       1.29    86.43
23        34 2020-02-01  Central     Smita   Marker     87      15.00  1305.00
14        25 2019-09-01  Central     Smita     Desk      2     125.00   250.00
12        23 2019-07-29     East     Priya   Marker     81      19.99  1619.19
18        29 2019-11-08     East     Priya      Pen     15      19.99   299.85
21        32 2019-12-29     East     Priya  Pen Set     74      15.99  1183.26
16        27 2019-10-05  Central    Morgan   Marker     28       8.99   251.72
33        44 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
10        21 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
31        42 2020-06-17  Central    Kavita     Desk      5     125.00   625.00
1         12 2019-01-23  Central    Kavita   Marker     50      19.99   999.50
34        45 2020-08-07  Central    Kavita  Pen Set     42      23.95  1005.90
19        30 2019-11-25  Central    Kavita  Pen Set     96       4.99   479.04
32        43 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
24        35 2020-02-18     East     Jones   Marker      4       4.99    19.96
0         11 2019-01-06     East     Jones   Pencil     95       1.99   189.05
9         20 2019-06-08     East     Jones   Marker     60       8.99   539.40
15        26 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
13        24 2019-08-15     East     Jones   Pencil     35       4.99   174.65
17        28 2019-10-22     East     Jones      Pen     64       8.99   575.36
5         16 2019-04-01     East     Jones   Marker     60       4.99   299.40
26        37 2020-03-24  Central       Jai  Pen Set     50       4.99   249.50
41        52 2020-12-04  Central       Jai   Marker     94      19.99  1879.06
40        51 2020-11-17  Central       Jai   Marker     11       4.99    54.89
2         13 2019-02-09  Central       Jai   Pencil     36       4.99   179.64
7         18 2019-05-05  Central       Jai   Pencil     90       4.99   449.10
28        39 2020-04-27     East    Howard      Pen     96       4.99   479.04
11        22 2019-07-12     East    Howard   Marker     29       1.99    57.71
36        47 2020-09-10  Central   Gayatri   Pencil      7       1.29     9.03
3         14 2019-02-26  Central   Gayatri      Pen     27      19.99   539.73
22        33 2020-01-15  Central   Gayatri   Marker     46       8.99   413.54
30        41 2020-05-31  Central   Gayatri   Marker     80       8.99   719.20
29        40 2020-05-14  Central   Gayatri   Pencil     53       1.29    68.37
6         17 2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
39        50 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
27        38 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
42        53 2020-12-21  Central   Andrews   Marker     28       4.99   139.72

In [14]:
df.sort_values(["cust","Item"],ascending=False)

    order no  OrderDate   Region      cust     Item  Units  Unit Cost    Total
8         19 2019-05-22     West  Thompson   Pencil     32       1.99    63.68
38        49 2020-10-14     West  Thompson   Marker     57      19.99  1139.43
4         15 2019-03-15     West    Soniya   Pencil     56       2.99   167.44
37        48 2020-09-27     West    Soniya      Pen     76       1.99   151.24
25        36 2020-03-07     West    Soniya   Marker      7      19.99   139.93
35        46 2020-08-24     West    Soniya     Desk      3     275.00   825.00
20        31 2019-12-12  Central     Smita   Pencil     67       1.29    86.43
23        34 2020-02-01  Central     Smita   Marker     87      15.00  1305.00
14        25 2019-09-01  Central     Smita     Desk      2     125.00   250.00
21        32 2019-12-29     East     Priya  Pen Set     74      15.99  1183.26
18        29 2019-11-08     East     Priya      Pen     15      19.99   299.85
12        23 2019-07-29     East     Priya   Marker     81      19.99  1619.19
10        21 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
33        44 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
16        27 2019-10-05  Central    Morgan   Marker     28       8.99   251.72
19        30 2019-11-25  Central    Kavita  Pen Set     96       4.99   479.04
34        45 2020-08-07  Central    Kavita  Pen Set     42      23.95  1005.90
1         12 2019-01-23  Central    Kavita   Marker     50      19.99   999.50
31        42 2020-06-17  Central    Kavita     Desk      5     125.00   625.00
0         11 2019-01-06     East     Jones   Pencil     95       1.99   189.05
13        24 2019-08-15     East     Jones   Pencil     35       4.99   174.65
15        26 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
32        43 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
17        28 2019-10-22     East     Jones      Pen     64       8.99   575.36
5         16 2019-04-01     East     Jones   Marker     60       4.99   299.40
9         20 2019-06-08     East     Jones   Marker     60       8.99   539.40
24        35 2020-02-18     East     Jones   Marker      4       4.99    19.96
2         13 2019-02-09  Central       Jai   Pencil     36       4.99   179.64
7         18 2019-05-05  Central       Jai   Pencil     90       4.99   449.10
26        37 2020-03-24  Central       Jai  Pen Set     50       4.99   249.50
40        51 2020-11-17  Central       Jai   Marker     11       4.99    54.89
41        52 2020-12-04  Central       Jai   Marker     94      19.99  1879.06
28        39 2020-04-27     East    Howard      Pen     96       4.99   479.04
11        22 2019-07-12     East    Howard   Marker     29       1.99    57.71
29        40 2020-05-14  Central   Gayatri   Pencil     53       1.29    68.37
36        47 2020-09-10  Central   Gayatri   Pencil      7       1.29     9.03
3         14 2019-02-26  Central   Gayatri      Pen     27      19.99   539.73
22        33 2020-01-15  Central   Gayatri   Marker     46       8.99   413.54
30        41 2020-05-31  Central   Gayatri   Marker     80       8.99   719.20
6         17 2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
27        38 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
39        50 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
42        53 2020-12-21  Central   Andrews   Marker     28       4.99   139.72

In [20]:
g1=df.groupby("cust")

In [21]:
g1

In [17]:
g1.groups

{'Andrews': [6, 27, 39, 42], 'Gayatri': [3, 22, 29, 30, 36], 'Howard': [11, 28], 'Jai': [2, 7, 26, 40, 41], 'Jones': [0, 5, 9, 13, 15, 17, 24, 32], 'Kavita': [1, 19, 31, 34], 'Morgan': [10, 16, 33], 'Priya': [12, 18, 21], 'Smita': [14, 20, 23], 'Soniya': [4, 25, 35, 37], 'Thompson': [8, 38]}

In [19]:
g1.first()

          order no  OrderDate   Region    Item  Units  Unit Cost    Total
cust
Andrews         17 2019-04-18  Central  Pencil     75       1.99   149.25
Gayatri         14 2019-02-26  Central     Pen     27      19.99   539.73
Howard          22 2019-07-12     East  Marker     29       1.99    57.71
Jai             13 2019-02-09  Central  Pencil     36       4.99   179.64
Jones           11 2019-01-06     East  Pencil     95       1.99   189.05
Kavita          12 2019-01-23  Central  Marker     50      19.99   999.50
Morgan          21 2019-06-25  Central  Pencil     90       4.99   449.10
Priya           23 2019-07-29     East  Marker     81      19.99  1619.19
Smita           25 2019-09-01  Central    Desk      2     125.00   250.00
Soniya          15 2019-03-15     West  Pencil     56       2.99   167.44
Thompson        19 2019-05-22     West  Pencil     32       1.99    63.68

In [22]:
g1.get_group("Kavita")

    order no  OrderDate   Region    cust     Item  Units  Unit Cost    Total
1         12 2019-01-23  Central  Kavita   Marker     50      19.99   999.50
19        30 2019-11-25  Central  Kavita  Pen Set     96       4.99   479.04
31        42 2020-06-17  Central  Kavita     Desk      5     125.00   625.00
34        45 2020-08-07  Central  Kavita  Pen Set     42      23.95  1005.90

In [25]:
g1=df.groupby("cust").sum()
g1

          order no  Units  Unit Cost    Total
cust
Andrews        158    183      10.26   438.37
Gayatri        175    213      40.55  1749.87
Howard          61    125       6.98   536.75
Jai            171    281      39.95  2812.19
Jones          203    396      55.92  2363.04
Kavita         129    193     173.93  3109.44
Morgan          92    173      26.47  1387.77
Priya           84    170      55.97  3102.30
Smita           90    156     141.29  1641.43
Soniya         145    142     299.97  1283.61
Thompson        68     89      21.98  1203.11

In [27]:
g1=df.groupby("cust")
g1.get_group("Kavita")

    order no  OrderDate   Region    cust     Item  Units  Unit Cost    Total
1         12 2019-01-23  Central  Kavita   Marker     50      19.99   999.50
19        30 2019-11-25  Central  Kavita  Pen Set     96       4.99   479.04
31        42 2020-06-17  Central  Kavita     Desk      5     125.00   625.00
34        45 2020-08-07  Central  Kavita  Pen Set     42      23.95  1005.90

In [30]:
g1=df.groupby("cust")

print(g1.get_group("Thompson"))
g1=df.groupby("cust").max()
print(g1)

    order no  OrderDate Region      cust    Item  Units  Unit Cost    Total
8         19 2019-05-22   West  Thompson  Pencil     32       1.99    63.68
38        49 2020-10-14   West  Thompson  Marker     57      19.99  1139.43
          order no  OrderDate   Region     Item  Units  Unit Cost    Total
cust
Andrews         53 2020-12-21  Central   Pencil     75       4.99   149.25
Gayatri         47 2020-09-10  Central   Pencil     80      19.99   719.20
Howard          39 2020-04-27     East      Pen     96       4.99   479.04
Jai             52 2020-12-04  Central   Pencil     94      19.99  1879.06
Jones           43 2020-07-04     East   Pencil     95      15.99   575.36
Kavita          45 2020-08-07  Central  Pen Set     96     125.00  1005.90
Morgan          44 2020-07-21  Central   Pencil     90      12.49   686.95
Priya           32 2019-12-29     East  Pen Set     81      19.99  1619.19
Smita           34 2020-02-01  Central   Pencil     87     125.00  1305.00
Soniya          48 2020-09-27     West   Pencil     76     275.00   825.00
Thompson        49 2020-10-14     West   Pencil     57      19.99  1139.43

In [31]:
df

    order no  OrderDate   Region      cust     Item  Units  Unit Cost    Total
0         11 2019-01-06     East     Jones   Pencil     95       1.99   189.05
1         12 2019-01-23  Central    Kavita   Marker     50      19.99   999.50
2         13 2019-02-09  Central       Jai   Pencil     36       4.99   179.64
3         14 2019-02-26  Central   Gayatri      Pen     27      19.99   539.73
4         15 2019-03-15     West    Soniya   Pencil     56       2.99   167.44
5         16 2019-04-01     East     Jones   Marker     60       4.99   299.40
6         17 2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
7         18 2019-05-05  Central       Jai   Pencil     90       4.99   449.10
8         19 2019-05-22     West  Thompson   Pencil     32       1.99    63.68
9         20 2019-06-08     East     Jones   Marker     60       8.99   539.40
10        21 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
11        22 2019-07-12     East    Howard   Marker     29       1.99    57.71
12        23 2019-07-29     East     Priya   Marker     81      19.99  1619.19
13        24 2019-08-15     East     Jones   Pencil     35       4.99   174.65
14        25 2019-09-01  Central     Smita     Desk      2     125.00   250.00
15        26 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
16        27 2019-10-05  Central    Morgan   Marker     28       8.99   251.72
17        28 2019-10-22     East     Jones      Pen     64       8.99   575.36
18        29 2019-11-08     East     Priya      Pen     15      19.99   299.85
19        30 2019-11-25  Central    Kavita  Pen Set     96       4.99   479.04
20        31 2019-12-12  Central     Smita   Pencil     67       1.29    86.43
21        32 2019-12-29     East     Priya  Pen Set     74      15.99  1183.26
22        33 2020-01-15  Central   Gayatri   Marker     46       8.99   413.54
23        34 2020-02-01  Central     Smita   Marker     87      15.00  1305.00
24        35 2020-02-18     East     Jones   Marker      4       4.99    19.96
25        36 2020-03-07     West    Soniya   Marker      7      19.99   139.93
26        37 2020-03-24  Central       Jai  Pen Set     50       4.99   249.50
27        38 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
28        39 2020-04-27     East    Howard      Pen     96       4.99   479.04
29        40 2020-05-14  Central   Gayatri   Pencil     53       1.29    68.37
30        41 2020-05-31  Central   Gayatri   Marker     80       8.99   719.20
31        42 2020-06-17  Central    Kavita     Desk      5     125.00   625.00
32        43 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
33        44 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34        45 2020-08-07  Central    Kavita  Pen Set     42      23.95  1005.90
35        46 2020-08-24     West    Soniya     Desk      3     275.00   825.00
36        47 2020-09-10  Central   Gayatri   Pencil      7       1.29     9.03
37        48 2020-09-27     West    Soniya      Pen     76       1.99   151.24
38        49 2020-10-14     West  Thompson   Marker     57      19.99  1139.43
39        50 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
40        51 2020-11-17  Central       Jai   Marker     11       4.99    54.89
41        52 2020-12-04  Central       Jai   Marker     94      19.99  1879.06
42        53 2020-12-21  Central   Andrews   Marker     28       4.99   139.72

In [32]:
df["Temp"]=np.nan
df

,order no,OrderDate,Region,cust,Item,Units,Unit Cost,Total,Temp
0,11,2019-01-06,East,Jones,Pencil,95,1.99,189.05,NaN
1,12,2019-01-23,Central,Kavita,Marker,50,19.99,999.50,NaN
2,13,2019-02-09,Central,Jai,Pencil,36,4.99,179.64,NaN
3,14,2019-02-26,Central,Gayatri,Pen,27,19.99,539.73,NaN
4,15,2019-03-15,West,Soniya,Pencil,56,2.99,167.44,NaN
5,16,2019-04-01,East,Jones,Marker,60,4.99,299.40,NaN
6,17,2019-04-18,Central,Andrews,Pencil,75,1.99,149.25,NaN
7,18,2019-05-05,Central,Jai,Pencil,90,4.99,449.10,NaN
8,19,2019-05-22,West,Thompson,Pencil,32,1.99,63.68,NaN
9,20,2019-06-08,East,Jones,Marker,60,8.99,539.40,NaN
10,21,2019-06-25,Central,Morgan,Pencil,90,4.99,449.10,NaN
11,22,2019-07-12,East,Howard,Marker,29,1.99,57.71,NaN
12,23,2019-07-29,East,Priya,Marker,81,19.99,1619.19,NaN
13,24,2019-08-15,East,Jones,Pencil,35,4.99,174.65,NaN
14,25,2019-09-01,Central,Smita,Desk,2,125.00,250.00,NaN
15,26,2019-09-18,East,Jones,Pen Set,16,15.99,255.84,NaN
16,27,2019-10-05,Central,Morgan,Marker,28,8.99,251.72,NaN
17,28,2019-10-22,East,Jones,Pen,64,8.99,575.36,NaN
18,29,2019-11-08,East,Priya,Pen,15,19.99,299.85,NaN
19,30,2019-11-25,Central,Kavita,Pen Set,96,4.99,479.04,NaN
20,31,2019-12-12,Central,Smita,Pencil,67,1.29,86.43,NaN
21,32,2019-12-29,East,Priya,Pen Set,74,15.99,1183.26,NaN
22,33,2020-01-15,Central,Gayatri,Marker,46,8.99,413.54,NaN
23,34,2020-02-01,Central,Smita,Marker,87,15.00,1305.00,NaN
24,35,2020-02-18,East,Jones,Marker,4,4.99,19.96,NaN
25,36,2020-03-07,West,Soniya,Marker,7,19.99,139.93,NaN
26,37,2020-03-24,Central,Jai,Pen Set,50,4.99,249.50,NaN
27,38,2020-04-10,Central,Andrews,Pencil,66,1.99,131.34,NaN
28,39,2020-04-27,East,Howard,Pen,96,4.99,479.04,NaN
29,40,2020-05-14,Central,Gayatri,Pencil,53,1.29,68.37,NaN
30,41,2020-05-31,Central,Gayatri,Marker,80,8.99,719.20,NaN
31,42,2020-06-17,Central,Kavita,Desk,5,125.00,625.00,NaN
32,43,2020-07-04,East,Jones,Pen Set,62,4.99,309.38,NaN
33,44,2020-07-21,Central,Morgan,Pen Set,55,12.49,686.95,NaN
34,45,2020-08-07,Central,Kavita,Pen Set,42,23.95,1005.90,NaN
35,46,2020-08-24,West,Soniya,Desk,3,275.00,825.00,NaN
36,47,2020-09-10,Central,Gayatri,Pencil,7,1.29,9.03,NaN
37,48,2020-09-27,West,Soniya,Pen,76,1.99,151.24,NaN
38,49,2020-10-14,West,Thompson,Marker,57,19.99,1139.43,NaN
39,50,2020-10-31,Central,Andrews,Pencil,14,1.29,18.06,NaN
40,51,2020-11-17,Central,Jai,Marker,11,4.99,54.89,NaN
41,52,2020-12-04,Central,Jai,Marker,94,19.99,1879.06,NaN
42,53,2020-12-21,Central,Andrews,Marker,28,4.99,139.72,NaN

In [33]:
df["Temp1"]=10
df

,order no,OrderDate,Region,cust,Item,Units,Unit Cost,Total,Temp,Temp1
0,11,2019-01-06,East,Jones,Pencil,95,1.99,189.05,NaN,10
1,12,2019-01-23,Central,Kavita,Marker,50,19.99,999.50,NaN,10
2,13,2019-02-09,Central,Jai,Pencil,36,4.99,179.64,NaN,10
3,14,2019-02-26,Central,Gayatri,Pen,27,19.99,539.73,NaN,10
4,15,2019-03-15,West,Soniya,Pencil,56,2.99,167.44,NaN,10
5,16,2019-04-01,East,Jones,Marker,60,4.99,299.40,NaN,10
6,17,2019-04-18,Central,Andrews,Pencil,75,1.99,149.25,NaN,10
7,18,2019-05-05,Central,Jai,Pencil,90,4.99,449.10,NaN,10
8,19,2019-05-22,West,Thompson,Pencil,32,1.99,63.68,NaN,10
9,20,2019-06-08,East,Jones,Marker,60,8.99,539.40,NaN,10
10,21,2019-06-25,Central,Morgan,Pencil,90,4.99,449.10,NaN,10
11,22,2019-07-12,East,Howard,Marker,29,1.99,57.71,NaN,10
12,23,2019-07-29,East,Priya,Marker,81,19.99,1619.19,NaN,10
13,24,2019-08-15,East,Jones,Pencil,35,4.99,174.65,NaN,10
14,25,2019-09-01,Central,Smita,Desk,2,125.00,250.00,NaN,10
15,26,2019-09-18,East,Jones,Pen Set,16,15.99,255.84,NaN,10
16,27,2019-10-05,Central,Morgan,Marker,28,8.99,251.72,NaN,10
17,28,2019-10-22,East,Jones,Pen,64,8.99,575.36,NaN,10
18,29,2019-11-08,East,Priya,Pen,15,19.99,299.85,NaN,10
19,30,2019-11-25,Central,Kavita,Pen Set,96,4.99,479.04,NaN,10
20,31,2019-12-12,Central,Smita,Pencil,67,1.29,86.43,NaN,10
21,32,2019-12-29,East,Priya,Pen Set,74,15.99,1183.26,NaN,10
22,33,2020-01-15,Central,Gayatri,Marker,46,8.99,413.54,NaN,10
23,34,2020-02-01,Central,Smita,Marker,87,15.00,1305.00,NaN,10
24,35,2020-02-18,East,Jones,Marker,4,4.99,19.96,NaN,10
25,36,2020-03-07,West,Soniya,Marker,7,19.99,139.93,NaN,10
26,37,2020-03-24,Central,Jai,Pen Set,50,4.99,249.50,NaN,10
27,38,2020-04-10,Central,Andrews,Pencil,66,1.99,131.34,NaN,10
28,39,2020-04-27,East,Howard,Pen,96,4.99,479.04,NaN,10
29,40,2020-05-14,Central,Gayatri,Pencil,53,1.29,68.37,NaN,10
30,41,2020-05-31,Central,Gayatri,Marker,80,8.99,719.20,NaN,10
31,42,2020-06-17,Central,Kavita,Desk,5,125.00,625.00,NaN,10
32,43,2020-07-04,East,Jones,Pen Set,62,4.99,309.38,NaN,10
33,44,2020-07-21,Central,Morgan,Pen Set,55,12.49,686.95,NaN,10
34,45,2020-08-07,Central,Kavita,Pen Set,42,23.95,1005.90,NaN,10
35,46,2020-08-24,West,Soniya,Desk,3,275.00,825.00,NaN,10
36,47,2020-09-10,Central,Gayatri,Pencil,7,1.29,9.03,NaN,10
37,48,2020-09-27,West,Soniya,Pen,76,1.99,151.24,NaN,10
38,49,2020-10-14,West,Thompson,Marker,57,19.99,1139.43,NaN,10
39,50,2020-10-31,Central,Andrews,Pencil,14,1.29,18.06,NaN,10
40,51,2020-11-17,Central,Jai,Marker,11,4.99,54.89,NaN,10
41,52,2020-12-04,Central,Jai,Marker,94,19.99,1879.06,NaN,10
42,53,2020-12-21,Central,Andrews,Marker,28,4.99,139.72,NaN,10

In [34]:
df["Temp1"]=df["Total"]+100
df

,order no,OrderDate,Region,cust,Item,Units,Unit Cost,Total,Temp,Temp1
0,11,2019-01-06,East,Jones,Pencil,95,1.99,189.05,NaN,289.05
1,12,2019-01-23,Central,Kavita,Marker,50,19.99,999.50,NaN,1099.50
2,13,2019-02-09,Central,Jai,Pencil,36,4.99,179.64,NaN,279.64
3,14,2019-02-26,Central,Gayatri,Pen,27,19.99,539.73,NaN,639.73
4,15,2019-03-15,West,Soniya,Pencil,56,2.99,167.44,NaN,267.44
5,16,2019-04-01,East,Jones,Marker,60,4.99,299.40,NaN,399.40
6,17,2019-04-18,Central,Andrews,Pencil,75,1.99,149.25,NaN,249.25
7,18,2019-05-05,Central,Jai,Pencil,90,4.99,449.10,NaN,549.10
8,19,2019-05-22,West,Thompson,Pencil,32,1.99,63.68,NaN,163.68
9,20,2019-06-08,East,Jones,Marker,60,8.99,539.40,NaN,639.40
10,21,2019-06-25,Central,Morgan,Pencil,90,4.99,449.10,NaN,549.10
11,22,2019-07-12,East,Howard,Marker,29,1.99,57.71,NaN,157.71
12,23,2019-07-29,East,Priya,Marker,81,19.99,1619.19,NaN,1719.19
13,24,2019-08-15,East,Jones,Pencil,35,4.99,174.65,NaN,274.65
14,25,2019-09-01,Central,Smita,Desk,2,125.00,250.00,NaN,350.00
15,26,2019-09-18,East,Jones,Pen Set,16,15.99,255.84,NaN,355.84
16,27,2019-10-05,Central,Morgan,Marker,28,8.99,251.72,NaN,351.72
17,28,2019-10-22,East,Jones,Pen,64,8.99,575.36,NaN,675.36
18,29,2019-11-08,East,Priya,Pen,15,19.99,299.85,NaN,399.85
19,30,2019-11-25,Central,Kavita,Pen Set,96,4.99,479.04,NaN,579.04
20,31,2019-12-12,Central,Smita,Pencil,67,1.29,86.43,NaN,186.43
21,32,2019-12-29,East,Priya,Pen Set,74,15.99,1183.26,NaN,1283.26
22,33,2020-01-15,Central,Gayatri,Marker,46,8.99,413.54,NaN,513.54
23,34,2020-02-01,Central,Smita,Marker,87,15.00,1305.00,NaN,1405.00
24,35,2020-02-18,East,Jones,Marker,4,4.99,19.96,NaN,119.96
25,36,2020-03-07,West,Soniya,Marker,7,19.99,139.93,NaN,239.93
26,37,2020-03-24,Central,Jai,Pen Set,50,4.99,249.50,NaN,349.50
27,38,2020-04-10,Central,Andrews,Pencil,66,1.99,131.34,NaN,231.34
28,39,2020-04-27,East,Howard,Pen,96,4.99,479.04,NaN,579.04
29,40,2020-05-14,Central,Gayatri,Pencil,53,1.29,68.37,NaN,168.37
30,41,2020-05-31,Central,Gayatri,Marker,80,8.99,719.20,NaN,819.20
31,42,2020-06-17,Central,Kavita,Desk,5,125.00,625.00,NaN,725.00
32,43,2020-07-04,East,Jones,Pen Set,62,4.99,309.38,NaN,409.38
33,44,2020-07-21,Central,Morgan,Pen Set,55,12.49,686.95,NaN,786.95
34,45,2020-08-07,Central,Kavita,Pen Set,42,23.95,1005.90,NaN,1105.90
35,46,2020-08-24,West,Soniya,Desk,3,275.00,825.00,NaN,925.00
36,47,2020-09-10,Central,Gayatri,Pencil,7,1.29,9.03,NaN,109.03
37,48,2020-09-27,West,Soniya,Pen,76,1.99,151.24,NaN,251.24
38,49,2020-10-14,West,Thompson,Marker,57,19.99,1139.43,NaN,1239.43
39,50,2020-10-31,Central,Andrews,Pencil,14,1.29,18.06,NaN,118.06
40,51,2020-11-17,Central,Jai,Marker,11,4.99,54.89,NaN,154.89
41,52,2020-12-04,Central,Jai,Marker,94,19.99,1879.06,NaN,1979.06
42,53,2020-12-21,Central,Andrews,Marker,28,4.99,139.72,NaN,239.72

In [35]:
del df["Temp"]
df

,order no,OrderDate,Region,cust,Item,Units,Unit Cost,Total,Temp1
0,11,2019-01-06,East,Jones,Pencil,95,1.99,189.05,289.05
1,12,2019-01-23,Central,Kavita,Marker,50,19.99,999.50,1099.50
2,13,2019-02-09,Central,Jai,Pencil,36,4.99,179.64,279.64
3,14,2019-02-26,Central,Gayatri,Pen,27,19.99,539.73,639.73
4,15,2019-03-15,West,Soniya,Pencil,56,2.99,167.44,267.44
5,16,2019-04-01,East,Jones,Marker,60,4.99,299.40,399.40
6,17,2019-04-18,Central,Andrews,Pencil,75,1.99,149.25,249.25
7,18,2019-05-05,Central,Jai,Pencil,90,4.99,449.10,549.10
8,19,2019-05-22,West,Thompson,Pencil,32,1.99,63.68,163.68
9,20,2019-06-08,East,Jones,Marker,60,8.99,539.40,639.40
10,21,2019-06-25,Central,Morgan,Pencil,90,4.99,449.10,549.10
11,22,2019-07-12,East,Howard,Marker,29,1.99,57.71,157.71
12,23,2019-07-29,East,Priya,Marker,81,19.99,1619.19,1719.19
13,24,2019-08-15,East,Jones,Pencil,35,4.99,174.65,274.65
14,25,2019-09-01,Central,Smita,Desk,2,125.00,250.00,350.00
15,26,2019-09-18,East,Jones,Pen Set,16,15.99,255.84,355.84
16,27,2019-10-05,Central,Morgan,Marker,28,8.99,251.72,351.72
17,28,2019-10-22,East,Jones,Pen,64,8.99,575.36,675.36
18,29,2019-11-08,East,Priya,Pen,15,19.99,299.85,399.85
19,30,2019-11-25,Central,Kavita,Pen Set,96,4.99,479.04,579.04
20,31,2019-12-12,Central,Smita,Pencil,67,1.29,86.43,186.43
21,32,2019-12-29,East,Priya,Pen Set,74,15.99,1183.26,1283.26
22,33,2020-01-15,Central,Gayatri,Marker,46,8.99,413.54,513.54
23,34,2020-02-01,Central,Smita,Marker,87,15.00,1305.00,1405.00
24,35,2020-02-18,East,Jones,Marker,4,4.99,19.96,119.96
25,36,2020-03-07,West,Soniya,Marker,7,19.99,139.93,239.93
26,37,2020-03-24,Central,Jai,Pen Set,50,4.99,249.50,349.50
27,38,2020-04-10,Central,Andrews,Pencil,66,1.99,131.34,231.34
28,39,2020-04-27,East,Howard,Pen,96,4.99,479.04,579.04
29,40,2020-05-14,Central,Gayatri,Pencil,53,1.29,68.37,168.37
30,41,2020-05-31,Central,Gayatri,Marker,80,8.99,719.20,819.20
31,42,2020-06-17,Central,Kavita,Desk,5,125.00,625.00,725.00
32,43,2020-07-04,East,Jones,Pen Set,62,4.99,309.38,409.38
33,44,2020-07-21,Central,Morgan,Pen Set,55,12.49,686.95,786.95
34,45,2020-08-07,Central,Kavita,Pen Set,42,23.95,1005.90,1105.90
35,46,2020-08-24,West,Soniya,Desk,3,275.00,825.00,925.00
36,47,2020-09-10,Central,Gayatri,Pencil,7,1.29,9.03,109.03
37,48,2020-09-27,West,Soniya,Pen,76,1.99,151.24,251.24
38,49,2020-10-14,West,Thompson,Marker,57,19.99,1139.43,1239.43
39,50,2020-10-31,Central,Andrews,Pencil,14,1.29,18.06,118.06
40,51,2020-11-17,Central,Jai,Marker,11,4.99,54.89,154.89
41,52,2020-12-04,Central,Jai,Marker,94,19.99,1879.06,1979.06
42,53,2020-12-21,Central,Andrews,Marker,28,4.99,139.72,239.72

In [36]:
df.drop(columns='Temp1') #drop column Temp1

    order no  OrderDate   Region      cust     Item  Units  Unit Cost    Total
0         11 2019-01-06     East     Jones   Pencil     95       1.99   189.05
1         12 2019-01-23  Central    Kavita   Marker     50      19.99   999.50
2         13 2019-02-09  Central       Jai   Pencil     36       4.99   179.64
3         14 2019-02-26  Central   Gayatri      Pen     27      19.99   539.73
4         15 2019-03-15     West    Soniya   Pencil     56       2.99   167.44
5         16 2019-04-01     East     Jones   Marker     60       4.99   299.40
6         17 2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
7         18 2019-05-05  Central       Jai   Pencil     90       4.99   449.10
8         19 2019-05-22     West  Thompson   Pencil     32       1.99    63.68
9         20 2019-06-08     East     Jones   Marker     60       8.99   539.40
10        21 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
11        22 2019-07-12     East    Howard   Marker     29       1.99    57.71
12        23 2019-07-29     East     Priya   Marker     81      19.99  1619.19
13        24 2019-08-15     East     Jones   Pencil     35       4.99   174.65
14        25 2019-09-01  Central     Smita     Desk      2     125.00   250.00
15        26 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
16        27 2019-10-05  Central    Morgan   Marker     28       8.99   251.72
17        28 2019-10-22     East     Jones      Pen     64       8.99   575.36
18        29 2019-11-08     East     Priya      Pen     15      19.99   299.85
19        30 2019-11-25  Central    Kavita  Pen Set     96       4.99   479.04
20        31 2019-12-12  Central     Smita   Pencil     67       1.29    86.43
21        32 2019-12-29     East     Priya  Pen Set     74      15.99  1183.26
22        33 2020-01-15  Central   Gayatri   Marker     46       8.99   413.54
23        34 2020-02-01  Central     Smita   Marker     87      15.00  1305.00
24        35 2020-02-18     East     Jones   Marker      4       4.99    19.96
25        36 2020-03-07     West    Soniya   Marker      7      19.99   139.93
26        37 2020-03-24  Central       Jai  Pen Set     50       4.99   249.50
27        38 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
28        39 2020-04-27     East    Howard      Pen     96       4.99   479.04
29        40 2020-05-14  Central   Gayatri   Pencil     53       1.29    68.37
30        41 2020-05-31  Central   Gayatri   Marker     80       8.99   719.20
31        42 2020-06-17  Central    Kavita     Desk      5     125.00   625.00
32        43 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
33        44 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34        45 2020-08-07  Central    Kavita  Pen Set     42      23.95  1005.90
35        46 2020-08-24     West    Soniya     Desk      3     275.00   825.00
36        47 2020-09-10  Central   Gayatri   Pencil      7       1.29     9.03
37        48 2020-09-27     West    Soniya      Pen     76       1.99   151.24
38        49 2020-10-14     West  Thompson   Marker     57      19.99  1139.43
39        50 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
40        51 2020-11-17  Central       Jai   Marker     11       4.99    54.89
41        52 2020-12-04  Central       Jai   Marker     94      19.99  1879.06
42        53 2020-12-21  Central   Andrews   Marker     28       4.99   139.72

In [37]:
df1=df.drop(columns=['OrderDate','Temp1']) #drop column OrderDate and Temp1
df1

    order no   Region      cust     Item  Units  Unit Cost    Total
0         11     East     Jones   Pencil     95       1.99   189.05
1         12  Central    Kavita   Marker     50      19.99   999.50
2         13  Central       Jai   Pencil     36       4.99   179.64
3         14  Central   Gayatri      Pen     27      19.99   539.73
4         15     West    Soniya   Pencil     56       2.99   167.44
5         16     East     Jones   Marker     60       4.99   299.40
6         17  Central   Andrews   Pencil     75       1.99   149.25
7         18  Central       Jai   Pencil     90       4.99   449.10
8         19     West  Thompson   Pencil     32       1.99    63.68
9         20     East     Jones   Marker     60       8.99   539.40
10        21  Central    Morgan   Pencil     90       4.99   449.10
11        22     East    Howard   Marker     29       1.99    57.71
12        23     East     Priya   Marker     81      19.99  1619.19
13        24     East     Jones   Pencil     35       4.99   174.65
14        25  Central     Smita     Desk      2     125.00   250.00
15        26     East     Jones  Pen Set     16      15.99   255.84
16        27  Central    Morgan   Marker     28       8.99   251.72
17        28     East     Jones      Pen     64       8.99   575.36
18        29     East     Priya      Pen     15      19.99   299.85
19        30  Central    Kavita  Pen Set     96       4.99   479.04
20        31  Central     Smita   Pencil     67       1.29    86.43
21        32     East     Priya  Pen Set     74      15.99  1183.26
22        33  Central   Gayatri   Marker     46       8.99   413.54
23        34  Central     Smita   Marker     87      15.00  1305.00
24        35     East     Jones   Marker      4       4.99    19.96
25        36     West    Soniya   Marker      7      19.99   139.93
26        37  Central       Jai  Pen Set     50       4.99   249.50
27        38  Central   Andrews   Pencil     66       1.99   131.34
28        39     East    Howard      Pen     96       4.99   479.04
29        40  Central   Gayatri   Pencil     53       1.29    68.37
30        41  Central   Gayatri   Marker     80       8.99   719.20
31        42  Central    Kavita     Desk      5     125.00   625.00
32        43     East     Jones  Pen Set     62       4.99   309.38
33        44  Central    Morgan  Pen Set     55      12.49   686.95
34        45  Central    Kavita  Pen Set     42      23.95  1005.90
35        46     West    Soniya     Desk      3     275.00   825.00
36        47  Central   Gayatri   Pencil      7       1.29     9.03
37        48     West    Soniya      Pen     76       1.99   151.24
38        49     West  Thompson   Marker     57      19.99  1139.43
39        50  Central   Andrews   Pencil     14       1.29    18.06
40        51  Central       Jai   Marker     11       4.99    54.89
41        52  Central       Jai   Marker     94      19.99  1879.06
42        53  Central   Andrews   Marker     28       4.99   139.72

In [38]:
df1.loc['k']= 78 ,"South","Temp","Laptop",1,350000,35000 #insert new row

In [39]:
df1

    order no   Region      cust     Item  Units  Unit Cost     Total
0         11     East     Jones   Pencil     95       1.99    189.05
1         12  Central    Kavita   Marker     50      19.99    999.50
2         13  Central       Jai   Pencil     36       4.99    179.64
3         14  Central   Gayatri      Pen     27      19.99    539.73
4         15     West    Soniya   Pencil     56       2.99    167.44
5         16     East     Jones   Marker     60       4.99    299.40
6         17  Central   Andrews   Pencil     75       1.99    149.25
7         18  Central       Jai   Pencil     90       4.99    449.10
8         19     West  Thompson   Pencil     32       1.99     63.68
9         20     East     Jones   Marker     60       8.99    539.40
10        21  Central    Morgan   Pencil     90       4.99    449.10
11        22     East    Howard   Marker     29       1.99     57.71
12        23     East     Priya   Marker     81      19.99   1619.19
13        24     East     Jones   Pencil     35       4.99    174.65
14        25  Central     Smita     Desk      2     125.00    250.00
15        26     East     Jones  Pen Set     16      15.99    255.84
16        27  Central    Morgan   Marker     28       8.99    251.72
17        28     East     Jones      Pen     64       8.99    575.36
18        29     East     Priya      Pen     15      19.99    299.85
19        30  Central    Kavita  Pen Set     96       4.99    479.04
20        31  Central     Smita   Pencil     67       1.29     86.43
21        32     East     Priya  Pen Set     74      15.99   1183.26
22        33  Central   Gayatri   Marker     46       8.99    413.54
23        34  Central     Smita   Marker     87      15.00   1305.00
24        35     East     Jones   Marker      4       4.99     19.96
25        36     West    Soniya   Marker      7      19.99    139.93
26        37  Central       Jai  Pen Set     50       4.99    249.50
27        38  Central   Andrews   Pencil     66       1.99    131.34
28        39     East    Howard      Pen     96       4.99    479.04
29        40  Central   Gayatri   Pencil     53       1.29     68.37
30        41  Central   Gayatri   Marker     80       8.99    719.20
31        42  Central    Kavita     Desk      5     125.00    625.00
32        43     East     Jones  Pen Set     62       4.99    309.38
33        44  Central    Morgan  Pen Set     55      12.49    686.95
34        45  Central    Kavita  Pen Set     42      23.95   1005.90
35        46     West    Soniya     Desk      3     275.00    825.00
36        47  Central   Gayatri   Pencil      7       1.29      9.03
37        48     West    Soniya      Pen     76       1.99    151.24
38        49     West  Thompson   Marker     57      19.99   1139.43
39        50  Central   Andrews   Pencil     14       1.29     18.06
40        51  Central       Jai   Marker     11       4.99     54.89
41        52  Central       Jai   Marker     94      19.99   1879.06
42        53  Central   Andrews   Marker     28       4.99    139.72
k         78    South      Temp   Laptop      1  350000.00  35000.00

In [40]:
df1.loc['k','cust']

'Temp'

In [41]:
df1.loc['k','cust']="Rashmi" #update row

In [42]:
df1

    order no   Region      cust     Item  Units  Unit Cost     Total
0         11     East     Jones   Pencil     95       1.99    189.05
1         12  Central    Kavita   Marker     50      19.99    999.50
2         13  Central       Jai   Pencil     36       4.99    179.64
3         14  Central   Gayatri      Pen     27      19.99    539.73
4         15     West    Soniya   Pencil     56       2.99    167.44
5         16     East     Jones   Marker     60       4.99    299.40
6         17  Central   Andrews   Pencil     75       1.99    149.25
7         18  Central       Jai   Pencil     90       4.99    449.10
8         19     West  Thompson   Pencil     32       1.99     63.68
9         20     East     Jones   Marker     60       8.99    539.40
10        21  Central    Morgan   Pencil     90       4.99    449.10
11        22     East    Howard   Marker     29       1.99     57.71
12        23     East     Priya   Marker     81      19.99   1619.19
13        24     East     Jones   Pencil     35       4.99    174.65
14        25  Central     Smita     Desk      2     125.00    250.00
15        26     East     Jones  Pen Set     16      15.99    255.84
16        27  Central    Morgan   Marker     28       8.99    251.72
17        28     East     Jones      Pen     64       8.99    575.36
18        29     East     Priya      Pen     15      19.99    299.85
19        30  Central    Kavita  Pen Set     96       4.99    479.04
20        31  Central     Smita   Pencil     67       1.29     86.43
21        32     East     Priya  Pen Set     74      15.99   1183.26
22        33  Central   Gayatri   Marker     46       8.99    413.54
23        34  Central     Smita   Marker     87      15.00   1305.00
24        35     East     Jones   Marker      4       4.99     19.96
25        36     West    Soniya   Marker      7      19.99    139.93
26        37  Central       Jai  Pen Set     50       4.99    249.50
27        38  Central   Andrews   Pencil     66       1.99    131.34
28        39     East    Howard      Pen     96       4.99    479.04
29        40  Central   Gayatri   Pencil     53       1.29     68.37
30        41  Central   Gayatri   Marker     80       8.99    719.20
31        42  Central    Kavita     Desk      5     125.00    625.00
32        43     East     Jones  Pen Set     62       4.99    309.38
33        44  Central    Morgan  Pen Set     55      12.49    686.95
34        45  Central    Kavita  Pen Set     42      23.95   1005.90
35        46     West    Soniya     Desk      3     275.00    825.00
36        47  Central   Gayatri   Pencil      7       1.29      9.03
37        48     West    Soniya      Pen     76       1.99    151.24
38        49     West  Thompson   Marker     57      19.99   1139.43
39        50  Central   Andrews   Pencil     14       1.29     18.06
40        51  Central       Jai   Marker     11       4.99     54.89
41        52  Central       Jai   Marker     94      19.99   1879.06
42        53  Central   Andrews   Marker     28       4.99    139.72
k         78    South    Rashmi   Laptop      1  350000.00  35000.00

In [44]:
df1.loc['k',['cust','Item']]

cust    Rashmi
Item    Laptop
Name: k, dtype: object

In [45]:
df1.loc['k',['cust','Item']]="kirti","Mobile"
df1

    order no   Region      cust     Item  Units  Unit Cost     Total
0         11     East     Jones   Pencil     95       1.99    189.05
1         12  Central    Kavita   Marker     50      19.99    999.50
2         13  Central       Jai   Pencil     36       4.99    179.64
3         14  Central   Gayatri      Pen     27      19.99    539.73
4         15     West    Soniya   Pencil     56       2.99    167.44
5         16     East     Jones   Marker     60       4.99    299.40
6         17  Central   Andrews   Pencil     75       1.99    149.25
7         18  Central       Jai   Pencil     90       4.99    449.10
8         19     West  Thompson   Pencil     32       1.99     63.68
9         20     East     Jones   Marker     60       8.99    539.40
10        21  Central    Morgan   Pencil     90       4.99    449.10
11        22     East    Howard   Marker     29       1.99     57.71
12        23     East     Priya   Marker     81      19.99   1619.19
13        24     East     Jones   Pencil     35       4.99    174.65
14        25  Central     Smita     Desk      2     125.00    250.00
15        26     East     Jones  Pen Set     16      15.99    255.84
16        27  Central    Morgan   Marker     28       8.99    251.72
17        28     East     Jones      Pen     64       8.99    575.36
18        29     East     Priya      Pen     15      19.99    299.85
19        30  Central    Kavita  Pen Set     96       4.99    479.04
20        31  Central     Smita   Pencil     67       1.29     86.43
21        32     East     Priya  Pen Set     74      15.99   1183.26
22        33  Central   Gayatri   Marker     46       8.99    413.54
23        34  Central     Smita   Marker     87      15.00   1305.00
24        35     East     Jones   Marker      4       4.99     19.96
25        36     West    Soniya   Marker      7      19.99    139.93
26        37  Central       Jai  Pen Set     50       4.99    249.50
27        38  Central   Andrews   Pencil     66       1.99    131.34
28        39     East    Howard      Pen     96       4.99    479.04
29        40  Central   Gayatri   Pencil     53       1.29     68.37
30        41  Central   Gayatri   Marker     80       8.99    719.20
31        42  Central    Kavita     Desk      5     125.00    625.00
32        43     East     Jones  Pen Set     62       4.99    309.38
33        44  Central    Morgan  Pen Set     55      12.49    686.95
34        45  Central    Kavita  Pen Set     42      23.95   1005.90
35        46     West    Soniya     Desk      3     275.00    825.00
36        47  Central   Gayatri   Pencil      7       1.29      9.03
37        48     West    Soniya      Pen     76       1.99    151.24
38        49     West  Thompson   Marker     57      19.99   1139.43
39        50  Central   Andrews   Pencil     14       1.29     18.06
40        51  Central       Jai   Marker     11       4.99     54.89
41        52  Central       Jai   Marker     94      19.99   1879.06
42        53  Central   Andrews   Marker     28       4.99    139.72
k         78    South     kirti   Mobile      1  350000.00  35000.00

In [49]:
df1.drop(index='k',inplace=False) #Delete kth row from df and return new modified df

df1.drop(index='k',inplace=True) #Delete kth row from Df1
df1

    order no   Region      cust     Item  Units  Unit Cost    Total
0         11     East     Jones   Pencil     95       1.99   189.05
1         12  Central    Kavita   Marker     50      19.99   999.50
2         13  Central       Jai   Pencil     36       4.99   179.64
3         14  Central   Gayatri      Pen     27      19.99   539.73
4         15     West    Soniya   Pencil     56       2.99   167.44
5         16     East     Jones   Marker     60       4.99   299.40
6         17  Central   Andrews   Pencil     75       1.99   149.25
7         18  Central       Jai   Pencil     90       4.99   449.10
8         19     West  Thompson   Pencil     32       1.99    63.68
9         20     East     Jones   Marker     60       8.99   539.40
10        21  Central    Morgan   Pencil     90       4.99   449.10
11        22     East    Howard   Marker     29       1.99    57.71
12        23     East     Priya   Marker     81      19.99  1619.19
13        24     East     Jones   Pencil     35       4.99   174.65
14        25  Central     Smita     Desk      2     125.00   250.00
15        26     East     Jones  Pen Set     16      15.99   255.84
16        27  Central    Morgan   Marker     28       8.99   251.72
17        28     East     Jones      Pen     64       8.99   575.36
18        29     East     Priya      Pen     15      19.99   299.85
19        30  Central    Kavita  Pen Set     96       4.99   479.04
20        31  Central     Smita   Pencil     67       1.29    86.43
21        32     East     Priya  Pen Set     74      15.99  1183.26
22        33  Central   Gayatri   Marker     46       8.99   413.54
23        34  Central     Smita   Marker     87      15.00  1305.00
24        35     East     Jones   Marker      4       4.99    19.96
25        36     West    Soniya   Marker      7      19.99   139.93
26        37  Central       Jai  Pen Set     50       4.99   249.50
27        38  Central   Andrews   Pencil     66       1.99   131.34
28        39     East    Howard      Pen     96       4.99   479.04
29        40  Central   Gayatri   Pencil     53       1.29    68.37
30        41  Central   Gayatri   Marker     80       8.99   719.20
31        42  Central    Kavita     Desk      5     125.00   625.00
32        43     East     Jones  Pen Set     62       4.99   309.38
33        44  Central    Morgan  Pen Set     55      12.49   686.95
34        45  Central    Kavita  Pen Set     42      23.95  1005.90
35        46     West    Soniya     Desk      3     275.00   825.00
36        47  Central   Gayatri   Pencil      7       1.29     9.03
37        48     West    Soniya      Pen     76       1.99   151.24
38        49     West  Thompson   Marker     57      19.99  1139.43
39        50  Central   Andrews   Pencil     14       1.29    18.06
40        51  Central       Jai   Marker     11       4.99    54.89
41        52  Central       Jai   Marker     94      19.99  1879.06
42        53  Central   Andrews   Marker     28       4.99   139.72

In [50]:
exam_data  = {'name': ['Sonu', 'Raja', 'Ketaki', 'Rupa', 'Radha', 'Reshma', 'Keshav', 'Narendra', 'Rani', 'Kittu'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df= pd.DataFrame(exam_data,index=labels)
df

       name  score  attempts qualify
a      Sonu   12.5         1     yes
b      Raja    9.0         3      no
c    Ketaki   16.5         2     yes
d      Rupa    NaN         3      no
e     Radha    9.0         2      no
f    Reshma   20.0         3     yes
g    Keshav   14.5         1     yes
h  Narendra    NaN         1      no
i      Rani    8.0         2      no
j     Kittu   19.0         1     yes

In [51]:
df.dropna() #delete rows having none values

     name  score  attempts qualify
a    Sonu   12.5         1     yes
b    Raja    9.0         3      no
c  Ketaki   16.5         2     yes
e   Radha    9.0         2      no
f  Reshma   20.0         3     yes
g  Keshav   14.5         1     yes
i    Rani    8.0         2      no
j   Kittu   19.0         1     yes

In [53]:
df.dropna(axis=1) #delete columns having none values

       name  attempts qualify
a      Sonu         1     yes
b      Raja         3      no
c    Ketaki         2     yes
d      Rupa         3      no
e     Radha         2      no
f    Reshma         3     yes
g    Keshav         1     yes
h  Narendra         1      no
i      Rani         2      no
j     Kittu         1     yes

In [55]:
df["score"].isnull()

a    False
b    False
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: score, dtype: bool

In [59]:
exam_data  = {'name': ['Sonu', 'Raja', 'Ketaki', 'Rupa', 'Radha', 'Reshma', 'Keshav', 'Narendra', 'Rani', 'Kittu'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df= pd.DataFrame(exam_data,index=labels)
df

       name  score  attempts qualify
a      Sonu   12.5         1     yes
b      Raja    9.0         3      no
c    Ketaki   16.5         2     yes
d      Rupa    NaN         3      no
e     Radha    9.0         2      no
f    Reshma   20.0         3     yes
g    Keshav   14.5         1     yes
h  Narendra    NaN         1      no
i      Rani    8.0         2      no
j     Kittu   19.0         1     yes

In [65]:
df1= df['score'].fillna(100)

a     12.5
b      9.0
c     16.5
d    100.0
e      9.0
f     20.0
g     14.5
h    100.0
i      8.0
j     19.0
Name: score, dtype: float64

In [67]:
df['qualify']=df['qualify'].map({'yes':True,'no':False})

In [68]:
df

       name  score  attempts  qualify
a      Sonu   12.5         1     True
b      Raja    9.0         3    False
c    Ketaki   16.5         2     True
d      Rupa    NaN         3    False
e     Radha    9.0         2    False
f    Reshma   20.0         3     True
g    Keshav   14.5         1     True
h  Narendra    NaN         1    False
i      Rani    8.0         2    False
j     Kittu   19.0         1     True

In [63]:
df

       name  score  attempts qualify
a      Sonu   12.5         1     yes
b      Raja    9.0         3      no
c    Ketaki   16.5         2     yes
d      Rupa    NaN         3      no
e     Radha    9.0         2      no
f    Reshma   20.0         3     yes
g    Keshav   14.5         1     yes
h  Narendra    NaN         1      no
i      Rani    8.0         2      no
j     Kittu   19.0         1     yes

In [57]:
df

     name  score  attempts qualify
a    Sonu   12.5         1     yes
b    Raja    9.0         3      no
c  Ketaki   16.5         2     yes
d      10   10.0        10      10
e   Radha    9.0         2      no
f  Reshma   20.0         3     yes
g  Keshav   14.5         1     yes
h      10   10.0        10      10
i    Rani    8.0         2      no
j   Kittu   19.0         1     yes

          order no  Units  Unit Cost    Total
cust
Andrews        158    183      10.26   438.37
Gayatri        175    213      40.55  1749.87
Howard          61    125       6.98   536.75
Jai            171    281      39.95  2812.19
Jones          203    396      55.92  2363.04
Kavita         129    193     173.93  3109.44
Morgan          92    173      26.47  1387.77
Priya           84    170      55.97  3102.30
Smita           90    156     141.29  1641.43
Soniya         145    142     299.97  1283.61
Thompson        68     89      21.98  1203.11